/* about.css */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .about-card {
    display: flex;
    background-color: #0D0208;
    border: 5px solid #000000; /* Black border */
    overflow: hidden;
    max-width: 800px; /* Adjust the width as needed */
  }
  
  .about-skills,
  .about-description {
    flex: 1;
    padding: 50px;
}
  
  .about-skills {
    background-color: #00FF41;
}
  
  .about-description {
    background-color: #000;
    color: #fff;
}
  
  /* Additional styles for text and lists */

.custom-bullet-list {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove default left padding */
  
    /* Style the custom bullets using ::before pseudo-element */
}
  
  .custom-bullet-list li {
    position: relative; /* Required for positioning the custom bullets */
    margin-bottom: 10px; /* Adjust the spacing between items */
  
    /* Style the ::before pseudo-element for custom bullets */
}
  
  .custom-bullet-list li::before {
    content: '\2022'; /* Unicode bullet character (•) */
    color: #00FF41; /* Bullet color */
    font-size: 14px; /* Bullet size */
    font-weight: bold; /* Bullet weight */
    margin-right: 10px; /* Spacing between bullet and text */
}
  
.sub-heading{
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block; /* Make the element behave like a block element */
}



  








