/* Navbar.css */
.navbar-custom {
    display: flex;
    justify-content: center; /* Left-align links */
    background-color: #0D0208; /* Background color */
    padding: 10px; /* Add padding for spacing */
  }
  
  .navbar-custom a {
    color: #fff; /* Link text color */
    margin-right: 20px; /* Add spacing between links */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make links bold */
    font-size: 18px; /* Adjust font size */
    transition: color 0.3s; /* Smooth color transition on hover */
  
  }
  
  .navbar-custom a:hover {
    color: #00FF41; /* Change text color on hover */
  }
  

 /* Navbar.css */


/* Theme change */

.theme-toggle-button {
    background-color: transparent;
    border: none;
    color: #0D0208;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add a transition for smooth color change */
  
    /* Default styles for light mode */
    background-color: transparent;
    color: #fff;
  }
  
  .theme-toggle-button:hover {
    color: #00FF41; /* Hover text color */
  }
  
  /* Dark mode styles */
  body.theme-dark-mode .theme-toggle-button {
    background-color: black;
    color: white;
  }
  
  body.theme-dark-mode .navbar-custom {
    background-color: white;
    color: black;
  }
  