/* Space mono font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the container take up the entire viewport height */
  text-align: center;
}

/* Define the flex properties for each section */
.section {
  flex: 1; /* Each section takes up an equal share of the available vertical space */
}